<div class="footer-main">
  <div class="footer">
    <footer><a href="https://www.bookswagon.com/">BookSwagon</a></footer>
    <footer> <a
        href="https://www.amazon.in/b/?ie=UTF8&node=976389031&ext_vrnc=hi&tag=googinhydr1-21&ref=pd_sl_8jidll6t7c_b&adgrpid=58996381916&hvpone=&hvptwo=&hvadid=294143540101&hvpos=&hvnetw=g&hvrand=1083500246424794478&hvqmt=b&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9061998&hvtargid=kwd-297313244769&hydadcr=23636_1725033">Amazon</a>
    </footer>
    <footer><a href="https://www.flipkart.com/books-store">FlipKart</a></footer>
    <footer><a href="https://www.99bookscart.com/">BooksCart</a></footer>
    <div>
    </div>
  </div>
</div>
