body{
    padding-bottom: 10%;
        background-size: 400% 400%;
        height: 100%;
      margin: 0;
      min-height: calc(100vh - 50px);
      background-color: rgba(0, 0, 0, 0.842);
      font-family:cursive;
      font-size: 100px;
      background-color: white;
    }
  .classdetails{
 text-align: center;
    }
  
    .icons{
        color: red;
    }