textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.textdescription {

  margin-top: 50px;
  margin-right: 20px;

}

h4 {
  padding-bottom: 20px;
}

.rating {
  display: flex;

}

.rating-slider {
  display: flex;

}

.rating-main {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.rating-value {
  margin-left: 10px;
}

.deletecrossmark {
  color: red;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.editcrossmark {
  color: blue;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  .rating-slider {
    display: inline-block;
  }

  ::ng-deep .star {
    font-size: 20px !important;
    display: flex;
  }

  textarea {
    width: 90%;
    margin-right: 20px;
    margin-left: 20px;
  }
}

textarea {
  width: 60%;
  margin-left: 10px;
}

.reviewbutton {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 150px;
  margin-top: 20px;
}